footer{
    background-color: #1C1E53;
    padding-top: 100px;
}
.footer-left{
    width: 50%;
}
.footer-left .contarct-p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    padding:  28px 0 86px 0;
    width: 399px;
}
.footer-left-contarct{
    background-color: #FCD980;
    display: flex;
    column-gap: 30px;
    padding: 18px 37px 16px 37px;
    width: 517px;
}
.footer-left-contarct h6{
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #282938;
}
.footer-left-contarct p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}
.footer-right{
    width: 50%;
}
.footer-right h2{
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #fff;
}
.footer-right p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    width: 399px;
    color: #F4F6FC;
    padding: 18px 0 28px 0;
}
.footer-right i{
    margin-right: 26px;
    font-size: 26px;
    transition: .4s;
}